@import "../../assets/fonts/fonts.css";

.heroSection {
  background-image: url("../../assets/images/Asset.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  & .content {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.text {
  width: 468px;
  background-color: #fcd973;
  text-align: center;
  font-family: "Jingleberry";
  text-transform: uppercase;

  & h1 {
    font-size: 100px;

    & .kLetter {
      color: #ffb032;
      text-shadow: -5px 6px 0px black;
    }

    & .oLetter {
      color: #535353;
      text-shadow: -5px 6px 0px black;
    }

    & .nLetter {
      color: #ffb032;
      text-shadow: -5px 6px 0px black;
    }

    & .gLetter {
      color: #535353;
      text-shadow: -5px 6px 0px black;
    }
  }

  & p {
    font-size: 30px;
  }
}
