.footer__section {
  background-image: url("../../assets/images/footersectionImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 1440px;
  padding: 70px 100px 0 100px;
}
.content {
  width: 588px;
  height: 101px;
  border-radius: 15px;
  background-image: url("../../assets/images/footerBlockImg.png");
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;

  & span {
    font-family: "Jingleberry";
    text-transform: uppercase;
    font-size: 40px;
    & span {
      color: #ffb032;
      text-shadow: 2px 2px 0px black, -2px 2px 0px black, 2px -2px 0px black,
        -2px -2px 0px black;
    }
  }
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  transition-delay: 0.3s;
}

.visible {
  opacity: 1;
  transform: translateX(0);
}
.media__block {
  display: none;
}
.footer__video {
  display: flex;
  align-items: center;
  justify-content: end;
}

footer {
  background-color: #fcd973;
  & .footer__flex {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .head__and__text {
      display: flex;
      align-items: center;
      gap: 20px;

      & p {
        display: flex;
        justify-content: space-evenly;
        font-size: 100px;
        margin: 0;
        font-family: "Jingleberry";
        text-transform: uppercase;

        & .kLayer,
        & .oLayer,
        & .nLayer,
        & .gLayer {
          position: relative;
        }

        & .kLetter,
        & .oLetter,
        & .nLetter,
        & .gLetter {
          position: relative;
          z-index: 2;
        }

        & .kBottomLayer,
        & .oBottomLayer,
        & .nBottomLayer,
        & .gBottomLayer {
          position: absolute;
          z-index: 1;
          top: -3px;
          left: 2px;
          color: inherit;
          text-shadow: none;
        }

        & .kLetter {
          color: #ffb032;
          text-shadow: -5px 3px 0px black;
        }

        & .oLetter {
          color: #535353;
          text-shadow: -5px 3px 0px black;
        }

        & .nLetter {
          color: #ffb032;
          text-shadow: -5px 3px 0px black;
        }

        & .gLetter {
          color: #535353;
          text-shadow: -5px 3px 0px black;
        }
      }
    }

    & .icon {
      & .tele__and__tw {
        display: flex;
        gap: 20px;
        justify-content: end;
      }
    }
  }
}
.tele__blok {
  & img:hover {
    cursor: pointer;
    content: url("../../assets/images/telegram2.png");
  }
}

.tele__blok {
  & img:active {
    content: url("../../assets/images/tg_4.png");
  }
}
.twitter__blok {
  & img:hover {
    cursor: pointer;
    content: url("../../assets/images/twitter2.png");
  }

  .twitter__blok {
    & img:active {
      content: url("../../assets/images/tw_4.png");
    }
  }
}
.copyright {
  display: flex;
  justify-content: end;
  padding: 0 30px 30px 0;
  color: rgba(0, 0, 0, 0.678);
  font-size: 18px;
  font-family: Jingleberry;
}

@media (max-width: 1420px) {
  .footer__video {
    & video {
      width: 40%;
    }
  }
}

@media (max-width: 1024px) {
  .footer__section {
    background-image: url("../../assets/images/footerbackImg.jpg");
    background-size: 100% 100%;
  }
  .footer__video {
    & video {
      width: 70%;
    }
  }
}

@media (max-width: 780px) {
  .footer__video {
    & video {
      width: 80%;
    }
  }
  .footer__section {
    padding: 50px 0 0 145px;
  }
  .content {
    width: 300px;
    height: 101px;

    & span {
      font-size: 30px;
    }
  }
  footer {
    & .footer__flex {
      & .head__and__text {
        & p {
          font-size: 70px;
        }
      }
    }
  }
  .icon span {
    font-size: 11px;
  }
  .head__and__text {
    width: 50px;
    height: 50px;
    & img {
      width: 100%;
    }
  }
  .copyright {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .footer__section {
    background-image: url("../../assets/images/footerbackImg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .footer__section {
    padding: 40px 0 0 70px;
  }
  .content {
    display: none;
  }
  .media__block {
    background-image: url("../../assets/images/footertext.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 127px;
    display: block;
  }

  footer {
    & .footer__flex {
      & .head__and__text {
        & p {
          font-size: 50px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .tele__and__tw {
    gap: 10px !important;
  }
  footer {
    & .footer__flex {
      & .head__and__text {
        & p {
          font-size: 30px;
        }
      }
    }
  }
  .tele__blok,
  .twitter__blok {
    width: 35px;
    height: 35px;

    & img {
      width: 100%;
    }
  }
}
