@import "./assets/fonts/fonts.css";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Jingleberry";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  width: 1380px;
  margin: 0 auto;
}

@media (max-width: 1480px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 1290px) {
  .container {
    width: 900px;
  }
}

@media (max-width: 1010px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 840px) {
  .container {
    width: 80%;
    padding: 0 15px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 10px;
  }
}
