.kong_dys {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative; 
    right: 8%; 
    top: 60%; 
    /* max-width: 100%;  */
    /* padding: 10px;  */
}

.kong_banner {
    background-image: url("../../assets/images/Frame1.png"); 
    /* width: 100%;  */
    width: 525px;;
    height: 210px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 70px;
    border: 3px solid white;
}

.kong_text {
    font-size: 1.5rem; 
    color: #000; 
    line-height: 1.5;
    font-family: "Jingleberry";
}

.kong_section {
    display: flex;
    width: 100%;
}

.kong-section-item {
    height: 100vh;
    background-size: cover; 
    background-position: center; 
    width: 33.3%;
    object-fit: cover;
    transition: background-color 0.5s ease-in-out;
}

.kong-section-left {
    background-image: url("../../assets/images/degenKong1.png");
}

.kong-section-center {
    background-image: url("../../assets/images/degenKong2.png");
}

.kong-section-right {
    background-image: url("../../assets/images/degenKong3.png");
}

@media (max-width: 1024px) {
    /* .kong_section {
        flex-wrap: wrap;
        flex-direction: column; 
    } */

    /* .kong-section-item {
        height: 70vh; 
    } */

    .kong_banner {
        max-width: 450px;
    }

    .kong_text {
        font-size: 1.25rem; 
    }

    .kong_dis {
        top: 150%;
    }
}

@media (max-width: 780px) {
    .kong_section {
       flex-wrap: wrap;
    }
    .kong-section-item {
        width: 100%;
        object-fit: cover;
        transition: background-color 0.5s ease-in-out;  
    }
    .kong_banner{
        margin: auto;
    }
    .kong_dys{
        top: 70%; 
        height: 148px;
    }
    .kong_text {
        font-size: 30px;
        font-family: "Jingleberry";
        position: relative;
        padding: 5px; 
      }
}

@media (max-width: 480px) {
    .kong_section {
        gap: 5px; 
    }

    .kong-section-item {
        height: 40vh; 
    }

    .kong_banner {
        width: 100%; 
        padding: 10px; 
    }

    .kong_text {
        font-size: 0.875rem; 
    }

    .kong_dis {
        top: 120%; 
    }
}
.text{
    font-size: 39px;
    font-family: "Jingleberry";
    position: relative;
    padding: 5px
}
.text_layer {
    position: relative;
    display: inline-block;
    font-size: 2rem; 
    font-weight: bold; 
    font-family: "Jingleberry";
    color: #FFB032;
  text-shadow: 
    2px 2px 0px black, 
    -2px 2px 0px black, 
    2px -2px 0px black,  
    -2px -2px 0px black;
}

