.kong_section {
  width: 100%;
  position: relative;
}

.kong_img__blokes {
  display: flex;
  width: 100%;
}
.kong-section-item {
  height: 100%;
  & img {
    display: block;
    width: 100%;
  }
}

.kong_dys {
  position: absolute;
  bottom: 35px;
  right: 65px;
}

.kong_banner {
  background-image: url("../../assets/images/Frame1.png");
  width: 525px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 45px;
}
.kong_text {
  font-size: 35px;
  color: #000;
  font-family: "Jingleberry";
  position: relative;
  padding: 15px;
}

.text_layer {
  font-size: 35px;
  position: relative;
  font-family: "Jingleberry";
  color: #ffb032;
  text-shadow: 2px 2px 0px black, -2px 2px 0px black, 2px -2px 0px black,
    -2px -2px 0px black;
}
.kong_dys {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.kong_dys.visible {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 1420px) {
  .kong_text {
    font-size: 30px;
  }
  .text_layer {
    font-size: 30px;
  }
  .kong_banner {
    width: 525px;
    line-height: 38px;
  }
}
@media (max-width: 1220px) {
  .kong_text {
    font-size: 26px;
  }
  .text_layer {
    font-size: 26px;
  }
  .kong_banner {
    width: 525px;
    line-height: 28px;
  }
}
@media (max-width: 1100px) {
  .kong_banner {
    width: 525px;
    line-height: 24px;
  }
  .kong_text {
    font-size: 22px;
  }
  .text_layer {
    font-size: 22px;
  }
}
@media (max-width: 994px) {
  .kong-section-item {
    & img {
      width: 100%;
      object-fit: cover;
    }
  }
  .kong_img__blokes {
    flex-wrap: wrap;
  }
  .kong-section-item {
    width: 100%;
  }
  .kong_banner {
    line-height: 30px;
  }
  .kong_text {
    font-size: 30px;
  }
  .text_layer {
    font-size: 30px;
  }
  .kong_dys {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    right: 0%;
  }
}
@media (max-width: 780px) {
  .kong_section {
    flex-wrap: wrap;
  }
  .kong_banner {
    width: 400px;
  }
  .text_layer {
    font-size: 26px;
  }
  .kong_text {
    font-size: 26px;
  }
}

@media (max-width: 600px) {
  .kong_banner {
    width: 343px;
    text-align: center;
  }
  .kong_dys {
    margin: 0 auto;
  }
  .text_layer {
    font-size: 24px;
  }
  .kong_text {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .kong_banner {
    width: 300px;
  }

  .text_layer {
    font-size: 22px;
  }
  .kong_text {
    font-size: 22px;
  }
}

@media (max-width: 375px) {
  .kong_dys {
    text-align: center;
  }
  .text_layer {
    font-size: 18px;
  }
  .kong_text {
    font-size: 18px;
  }
}
